.purpleBox {
    display: block;
    margin-top: 150px;
    background-color: #551A8B;
        width: 1265px;
        height: 80px;
}

.dogWalking {
    display: inline-block;
    font-size: medium;
    margin-top: 30px;
    margin-left: 20px;
}

.wrapper {
    float: right;
}

.dogWalking, .homeBtn, .pricesBtn, .contactUs {
    color: rgba(255,255,255,0.8);
    margin-top: 30px;
}

.homeBtn, .pricesBtn, .contactUs {
    padding: 5px;
    font-size: medium;
    margin-right: 20px;
    float: left;
    
}
