#pinkOutside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(224, 64, 99);
    width: 100%;
    height: 100%;
}
  
  #grayInside {
      display: flex;
      justify-content: center;
    width: 490px;
    height: 300px;
    position: relative;
    /* margin-top: 25%; */
    background-color: gray;
    box-shadow: 7px 7px 10px 0px #753f3f;
  
  }

 form {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     padding: 50px;
 }

 /* id start #
 class starts with a dot */

 #password , input#username {
     width:100%;
     padding: 10px;
    
 }

 .btn_signin {
    background-color: transparent;
    border: 0;
 }

 .form_header {
     font-size: larger;
 }

 .btn_login{
     padding: 10px 25px;
     background: turquoise;
    
 }

 .lbl_remember_me{
     align-self: flex-start;
     /* position: absolute;
     bottom: 20px;
     left: 35px; */
 }